<div class="col-md-8 mx-auto">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h4><%= fa_icon "plus" %> Nueva reunión</h4>
    </div>
    <div class="card-body">
      <%= render 'form', meeting: @meeting %>
    </div>
    <div class="card-footer">
      <button type='submit' name='commit' class='btn btn-success float-right' form='new_meeting'>
        <%= fa_icon "check" %> Crear reunión
      </button>
      <%= link_to meetings_path, class: "btn btn-light float-right mr-2" do %>
        Volver
      <% end %>
    </div>
  </div>
</div>