<div id="filterrific_results">
  <% if @extension_activities.present? %>
    <div class="card fixed-panel-list">
      <table class="table table-hover table-striped table-sm">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Tipo de actividad</th>
            <th>Docentes</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="extension_activities">
          <%= render @extension_activities %>
        </tbody>
      </table>
    </div>
    <div id="page_links">
      <%= will_paginate @extension_activities, list_classes: %w(pagination justify-content-center), renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
  <% else %>
    <%= render(
      partial: 'shared/not_found_filter',
      locals: { object_name: 'actividades de extensión' }
    ) %>
  <% end %>
</div>