<div id="filterrific_results">
  <% if @month_presences.present? %>
    <div class="card fixed-panel-list">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Mes</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="users">
          <%= render @month_presences %>
        </tbody>
      </table>
    </div>
    <div id="page_links">
      <%= will_paginate @month_presences, list_classes: %w(pagination justify-content-center), renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
  <% else %>
    <%= render(
      partial: 'shared/not_found_filter',
      locals: { object_name: 'publicaciones' }
    ) %>
  <% end %>
</div>