// Style modal
$('.modal-content').addClass('panel-danger');

// Add the dialog title
$('#dialog h5').html("<i class='fa fa-trash'></i>  Enviar a papelera");

// Render the edit form
$('.modal-body').html('Esta seguro que desea enviar a la papelera la planilla de asistencia de <%= l(@month_presence.month_date, format: '%B %Y').humanize %>?');

// Add form button
$('.modal-footer').html(
  "<button type='button' class='btn btn-default pull-left' data-dismiss='modal'>Volver</button>"+
  "<a data-remote='true' data-method='delete' href='/month_presences/<%= @month_presence.id %>>' data-dismiss='modal' class='btn commit btn-danger pull-right' rel='nofollow'>Confirmar</a>"
);

// Show the dynamic dialog
$('#dialog').modal("show");

// Remove style
$('#dialog').on('hidden.bs.modal', function () {
  $('.modal-content').removeClass('panel-danger');
});
