<%=  simple_form_for(dedication) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :name, label: "Nombre" %>
    </div>
    <div class="col-md-3">
      <%= f.input :hours, as: :integer, label: "Horas" %>
    </div>
  </div>
<% end %>