<tr class="nested-fields d-flex mb-0 pb-0">
  <td class="col-6 pb-0 mb-0">
    <%= f.collection_select :teacher_id, @teachers, :id, :fullname, {label: false }, 
      { class: "selectpicker", size: 6, :data => {width: "100%"},
        "data-toggle" => "dropdown",
        "data-none-results-text" => "No se encontró docente", "data-live-search"=>true,
        "title"=>"Seleccionar", value: "#{ f.object.teacher.present? ? f.object.teacher.id : "" }"
      }
    %>
  </td>
  <td class="col-4 pb-0 mb-0">
    <%= f.input :quantity, as: :integer, label: false, input_html: { width: "10%" } %>
  </td>
  <td class="col-2 pb-0 mb-0">
    <%= link_to_remove_association  f, class: 'remove-tag btn btn-warning btn-sm', tabindex: -1,
      title: 'Quitar', data: { toggle: 'tooltip', placement: 'top' } do %>
        <%= fa_icon "minus" %>
    <% end %>
  </td>
</tr>