  <!-- Header -->
  <header class="masthead">
    <%= render "layouts/flash_notices" %>
    <% if user_signed_in? %>
      <br>
      <div class="row">
        <div class="col-md-4">
          <div class="list-group">
            <%= link_to assignatures_path, class: "list-group-item list-group-item-action justify-content-between align-items-center" do %>
              Asignaturas
              <span class="badge badge-primary badge-pill pull-right"><%= Assignature.count %></span>
            <% end %>
          </div>
        </div>
      </div>
    <% else %>
        <div class="d-flex flex-column p-2 mx-auto">
        <h1 class="d-flex p-2 mx-auto my-0 text-uppercase">AUSMA</h1>
        <div class="d-flex p-2">
          <h2 class="text-white-50 mx-auto mt-2 mb-5">Universidad Nacional del Comahue</h2>
        </div>
        </div>
      <%= render "devise/sessions/new_session" %>
    <% end %>
  </header>