  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <% if user_signed_in? %>
        <div class="mx-auto text-center">
          <%= render "layouts/flash_notices" %>
          <h1 class="mx-auto my-0 text-uppercase">AUSMA</h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5">Universidad Nacional del Comahue</h2>
          <%= link_to 'Comenzar', new_evaluation_path, class: "btn btn-primary" %>
          <!-- <a href="#about" class="btn btn-primary js-scroll-trigger">Comenzar</a> -->
        </div>
      <% else %>
        <div class="jumbotron">
          <h3 class="display-4">Bienvenido</h3>
          <p class="lead">La vida, el espíritu de una institución, se logra cuando los docentes están presentes.</p>
          
        </div>
        <%= render "devise/sessions/new_session" %>
      <% end %>
    </div>
  </header>