/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


@import "jquery-ui";
@import 'jquery-ui/datepicker';

@import 'jquery-ui/core';
@import 'jquery-ui/theme';

@import 'jquery-ui/draggable';
@import 'jquery-ui/resizable';
@import 'jquery-ui/selectable';
@import 'jquery-ui/sortable';

@import 'jquery-ui/accordion';
@import 'jquery-ui/autocomplete';
@import 'jquery-ui/button';
@import 'jquery-ui/datepicker';
@import 'jquery-ui/dialog';
@import 'jquery-ui/menu';
@import 'jquery-ui/progressbar';
@import 'jquery-ui/selectmenu';
@import 'jquery-ui/slider';
@import 'jquery-ui/spinner';
@import 'jquery-ui/tabs';
@import 'jquery-ui/tooltip';

@import "font_awesome5.css";
@import "bootstrap-select";
@import "bootstrap";
@import "tempusdominus-bootstrap-4";
@import "sidebar_menu";

// Variables
$min-height-index: calc(100vh - (60px + 63px + 2rem));
$min-height-list: calc(100vh - 225px);

body{
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sticky-top{
  padding-bottom: 0px;
  padding-top: 0px;
}

.alert-fixed {
  position: relative;
  text-align: center;
}
.alert{ 
  position:absolute;
  top: 0;
}

/* Show full size card */
.full-height {
  /* height: 480px; */
  height: calc(100vh);
  overflow-y: auto; 
}

.fixed-panel-cv {
  /* height: 480px; */
  height: calc(84vh);
  overflow-y: auto; 
}

.fixed-panel-index {
  height: $min-height-index;
  overflow-y: auto;
  padding-bottom: 0;
  .fixed-panel-list {
    height: $min-height-list;
    overflow-y: auto;
  }
}

.fixed-panel {
  height: calc(78vh);
  overflow-y: auto;
}

.transition-tr{
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}